extends layout

block content
  h1= title
  p Welcome to #{title}
  p yay un nouvelle app
  <p>On peut également taper du html classique</p>

  p Ou encore ajouter une image via le dossier <code>/public</code>
  img(src='/images/masamune-logo.jpg')
