Un fichier modèle qui utilise la syntaxe Jinja2

Attention, ce n'est pas du YAML !

Ces fichiers peuvent être réutilisés afin d'y injecter des variables ansible, avec la même syntaxe {{ ma_variable }}

Très pratiques afin de générer des fichiers de configuration, des fichiers visibles par défaut
  par exemple un fichier html : "Bienvue sur le site de {{ client }}"

ou encore de la documentation, des instructions pour un client, etc.